@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');
.wrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
   
   align-items: center;
  
 
}

header nav{
    max-width: 500px;
    flex-grow: 0.5;
 
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}
.wrapper{
    
        max-width: 135rem;
        margin: 2.5rem auto;
        padding: 2rem 2.5rem;
    
}

a{
    color: inherit;
    text-decoration: none;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;

}
header .logo img{
    height: 100%;
    width: 100%;
}
a:hover{
    text-decoration: underline;
    color: rgb(40, 71, 143);
    transition: color 0.3s;
}

header nav ul a{
    color: grey;
    font-weight: 600;
    font-size: 1.8rem;
}
.butt button{
    width: 16.5rem;
    height: 5.4rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: rgb(49, 49, 179);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
   
}
button:hover{
    background-color: rgb(66, 66, 119);
    cursor: pointer;
}
.desc{
    width: 100%;
}
.desc h2{
    font-size:3.5rem;
    font-weight: 500;
}
.section{
    display: flex; 
    justify-content: space-between;
    margin: 13rem 0;
    padding: 0px;
}