
p {
    color: red;
    font-size: larger;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.abcd {
    font-size: smaller;
}

.xyz {
    font-size: larger ;
}
span{
background-color: yellow;
}
